<h1>Listing employees in </h1>
<% @companies.each do |company| %>
<table>
  <thead>
 <tr>
  <th>Last name</th>
  <th>First name</th>
  <th>Phone number</th>
  </tr>
 </thead>

  <tbody>
<% company.employees.each do |employee| %>
 <tr>
  <td><%= employee.last_name %></td>
  <td><%= employee.first_name %></td>
  <td><%= employee.phone_number %></td>
  </tr>
<% end %>
 </tbody>
  </table>
<% end %>

<br>